/**
 * CE CSS CONTIENT LA MISE EN PAGE DES ELEMENTS COMMUNS A TOUTES LES PAGES DU SITE
 *
 * Paramètres généraux
 */
 html {
	font-size: 62.5%;
	background-color: var(--light-grey);
}
* {
	font-size: 1.4rem;
	margin: 0;
	padding: 0;		
	font-family: arial;
}
:root {
	--dark-grey: #424242;
	--deep-grey: #757575;
	--medium-grey: #9E9E9E;
	--calm-grey: #BDBDBD;
	--light-grey: #EEE;
	--orange: #F57C00;
}

/**
 * SECTION - Paramètres de la section principale
 */
section {
	margin: 0 auto;
	width: 100%;
	background-color: #FFF;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.b-mainSection {	
	box-shadow: 0.5rem 0.5rem 1.5rem var(--medium-grey);
	padding-bottom: 2rem;
}
.b-mainSection__nav {
	display: flex;
	background-color: var(--dark-grey);
	text-transform: capitalize;
	font-variant: small-caps;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border: 0.1rem solid var(--dark-grey);
	height: 4.7rem; 
	padding-left: 3rem;
	align-items: center;
}
.b-mainSection__nav a {	
	font-size: 1.8rem;
	color: var(--light-grey);
	text-decoration: none;
	padding-right: 3rem;
}
.b-mainSection__nav a:hover {
	color: var(--orange);
}

/**
 * TREE - Paramètres de l'arborescence
 */
.b-tree {
	display: flex;
	border: 0.1rem solid var(--calm-grey);
	width: 98%;
	height: 3rem;
	align-items: center;
	margin: 1rem auto;
	border-radius: 0.3rem;
	padding-left: 0.5rem;
	position: relative;
}
.b-tree img {
	height: 2.3rem;
	width: auto;
	margin: 0.5rem;
}
.b-tree img:last-child {
	position: absolute;
	right: 0.5rem;
	top: -0.2rem;
}
.b-tree p {
	color: var(--orange);
	font-size: 1.3rem;
	font-weight: bold;
}

/**
 * ARTICLES - Paramètres des articles
 */
article {
	padding: 0.7rem 0.8rem 1.3rem;
	border: 0.1rem solid var(--calm-grey);
	border-radius: 0.5rem;	
    margin-bottom: 1.3rem;
}
article div[class*="title"] {
	display: flex;
	align-items: center;
	height: 3.5rem;
	color: var(--dark-grey);
	text-transform: uppercase;
	background-color: var(--light-grey);
	border: 0.1rem solid var(--calm-grey);
	margin-bottom: 1rem;
}
article div[class*="title"] img {
	width: 2.4rem;
	height: auto;
	margin: auto 1.3rem auto 0.8rem;
}

/**
 * ELEMENTS - Paramètres des elements individuels
 */
a {
	color: var(--orange);
	text-decoration: none;
}
p {
	text-align: justify;
}
li {
	list-style-type: none;
}
strong {
	color: var(--orange);
}
input, select {
	margin: 1rem auto;
	height: 3.2rem;
}
textarea {
	margin: 1rem auto;
}
input[type='submit'] {
	background-color: var(--orange);
	height: 4rem;
	width: 12rem !important;
	text-align: center;
	font-size: 1.6rem;
	color: #FFF;
	border: none;
	border-radius: 0.5rem;
}
footer p {
	margin: 0.3rem auto 1rem 0.5rem;
	font-family: arial;
	font-size: 1.2rem;
	color: var(--dark-grey);
}
.-alert {
	background-color: #FFCDD2;
	border: 0.1rem solid  #D1C4E9;
	color: saddlebrown;
	font-weight: bold;
	padding: 2.2rem 1.7rem;
	margin-bottom: 1.3rem	
}

/**
 * MODIFICATEURS
 */
.-column {
	display: flex;
	flex-direction: column;
}
.-row {
	display: flex;
	flex-direction: row;
}
.-small {
	width: 30rem;
}
.-green {
    color: green;
}
.-red {
    color: red;
}
.-black {
    color: black;
}
.-bold {
	font-weight: bold;
}
.-w65 {
	width: 65% !important;
}
.-w50 {
	width: 50% !important;
}
.-w30 {
	width: 30% !important;
}
.-w20 {
	width: 20% !important;
}
.-hidden {
	display: none;
}