@import '../main/default.css';

/*
 * Disposition des blocs
 */
.b-content__rightSide article {
    position: relative;
    left: -4rem;
    width: 75%;
    margin: auto;
}
.b-articleInfos__content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.b-articleInfos__content p {
    margin-top: 1.5rem;
}
.b-articleInfos__content h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/*
 * Paramètres des élements 
 */
label {
    text-align: left;
    margin-left: 3.5rem;
    width: 25%;
}
input, select, textarea {
    text-align: left;
    margin-left: 2rem;
}
input[type=submit] {
    margin: 2rem auto;
}