@import 'default.css';

/*
 * Les parties communes des articles
 */
.b-articleProfil ul:last-child, .b-articleConversion div ul:last-child {
    flex-grow: 1;
    text-align: end;
    font-weight: bold;
}
.b-articleProfil__content li, .b-articleConversion__content li {
    margin: 0.1rem auto 0;    
	font-size: 1.3rem;
}

/**
 * ARTICLE PROFIL - Style de l'article
 */
.b-articleProfil {
    display: flex;
    padding-bottom: 0.6rem !important;
    align-items: center;
}
.b-articleProfil__content {
    margin-top: 0.2rem;
    display: flex;
}
.b-articleProfil img {
    width: 7rem;
    height: auto;
    margin-right: 1rem;
}
.b-articleProfil div {
    flex-grow: 1;
}

/**
 * ARTICLE CONVERSION - Style de l'article
 */
.b-articleConversion__content h2 {
    margin-bottom: 0.1rem;
}
.b-articleConversion__content div {
    display: flex;
}
.b-articleConversion__content .-flag {
    position: relative;
    top: 0.1rem;
    width: 1.7rem;
    height: auto;
}
.b-articleConversion__content img {
    position: relative;
    top: -0.2rem;
    left: -0.4rem;
    width: 103%;
}

/**
 * ARTICLE OBJETS EN VEDETTE - Style de l'article
 */
.b-articleFeatured__content:last-child {
    margin-top: 2rem;
}
.b-articleFeatured__content ul {
    justify-content: space-evenly;
    align-items: center;
}
.b-articleFeatured__content li {
    width: 20rem;
}
.b-articleFeatured__content li a {
    font-family: Bahnschrift, 'Century Gothic', Arial;
    font-size: 2.1rem;
    color: black;
}
.b-articleFeatured__content li a:hover {
    color: var(--orange);
}
.b-articleFeatured__e-item {
    width: 100% !important;
}

/**
 * ARTICLE OBJETS EN VEDETTE - Style de l'article
 */
 .optGroup {
    display: none;
}
.b-articleCategory__content input:checked + label + ul {
    display: flex;
    flex-direction: column;
}
.b-articleCategory__content input:checked + label > img {
    transform: rotate(180deg);
    position: relative;
    top: 0.3rem;
}
.b-articleCategory__content img {
    float: right;
    padding-top: 0.3rem;
    padding-right: 0.5rem;
    width: 1.3rem;
    height: 1.2rem;
}
.-separator {
    width: 100% !important;
    height: auto !important;
}
.optChild a {
    color: black;
    padding-left: 1.5rem;
    font-weight: normal;
}
.b-articleCategory__content li {
    margin-top: 0.2rem;
}
label {
    color: var(--orange);
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 0.3rem;
    padding-left: 0.5rem;
}